//font
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Nanum Myeongjo", serif;
  outline: none;
  border: none;
}
html {
  scroll-behavior: smooth;
}
